section {
  height: 90dvh;
  border: 1px solid var(--text-muted);
  padding: 1rem;
}

.magic-text {
  display: flex;
  flex-direction: column;
  height: 1lh;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  width: 40%;

  &:hover {
    height: max-content;
  }
}
